<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/melodifyLogo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Melodify Music
    </a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
  </div>
</nav>